#contact{
    width: 100%;
    height: fit-content;
    padding-bottom: 5rem;
}

.container.contact__container{
    width: 60%;
    display:grid;
    grid-template-columns: 40% 60%;
    gap: 10%;
}

.contact__options{
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 1rem;
}

.contact__option{  
    padding: 0.5rem;
    margin: 0.5rem;
    border-radius: 0.5rem;
    text-align: center;
    border: 2px solid var(--color-primary);
}

.contact__option-icon{
    font-size: 1.75rem;
}

.contact__option a{
    margin: 0.25rem;
    font-size: 0.8rem;
    display: flex;
    flex-direction: column;
}

/*FORM*/

input, textarea{
    width: 100%;
    padding: 0.5rem;
    margin: 0.5rem;
    border: 2px solid var(--color-primary);
    border-radius: 0.5rem;
    background-color: transparent;
    resize: none;
    color: var(--color-white);
}

/*medium devices*/

@media screen and (max-width: 1024px){
    .container.contact__container{
        grid-template-columns:  1fr;
        gap: 1rem;
    }
}
  
/*Small devices*/
  
@media screen and (max-width: 600px){
    .container.contact__container{
        width: var(--container-width-ms);
    }
}
  
  
