.news{
   height: fit-content;
   width: 100%;
}

.news__container{
    display: flex; 
    flex-wrap: wrap;
    flex-direction: row;  
    width:90%;
    justify-content: center;
    
}

.news__item{
    width: 20rem;
    margin: 0.75rem; 
    border: 0.15rem solid  var( --color-primary) ;
    text-align: center;
    padding: 2rem;
    border-radius: 2rem;
    user-select: none;
    
}

.news__item-image{
    overflow: hidden;
    border-radius: 50%;
    margin: 0 AUTO 0.25rem;
    border: 0.3rem solid var( --color-primary);
}

.news__item-image img{
    aspect-ratio: 1/1;
}



.news__item h3,p{
   color: var(--color-white);
   font-weight: 300;
   display: block;
   width: 80%;
   margin: 0.5rem auto 0;
}


/*medium devices*/

@media screen and (max-width: 1024px){
    .news__item{
        width: 40%;
    }
}
  
/*Small devices*/

@media screen and (max-width: 600px){
    .news__item{
        width: 75%;
    }

    .news__item h3,p{
        height: 4rem;
        overflow: hidden;
        text-overflow: ellipsis;
     }
}